@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


$bg_color_1: #ffffff;
$bg_color_2: #f1f5f8;
$theme_1: #abcdef;
$theme_2: #beebee;

html {
  font-family: "Roboto";
}

body {
  margin: 0 auto;
  background: $bg_color_2;
}

:root {
  --mdc-theme-primary: #beebee;
  // --mdc-theme-secondary: #ffffff;
  --mdc-theme-on-surface: #beebee;
}

// content_center_page
 
.main__body {
  .content-center-page {
    margin-left: 18%;
    margin-right: 18%;
    width: 64%;
  }

  @media only
  /* Desktops and laptops ----------- */
  screen  and (min-width : 1300px) and (max-width : 1500px)
  {
    .content-center-page {
      margin-left: 15%;
      margin-right: 15%;
      width: 70%;
    }
  }

  @media only
  /* Desktops and laptops ----------- */
  screen  and (min-width : 1000px) and (max-width : 1300px)
  {
    .content-center-page {
      margin-left: 12%;
      margin-right: 12%;
      width: 76%;
    }
  }

  @media only
  /* Desktops and laptops ----------- */
  screen  and (min-width : 700px) and (max-width : 1000px)
  {
    .content-center-page {
      margin-left: 8%;
      margin-right: 8%;
      width: 84%;
    }
  }

  @media only
  /* Desktops and laptops ----------- */
  screen  and (max-width : 700px),
  /* Smartphones (portrait and landscape) ----------- */
  screen and (max-device-width : 480px)
  {
    .content-center-page {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

  @media only
  /* Desktops and laptops ----------- */
  screen  and (max-width : 600px),
  /* Smartphones (portrait and landscape) ----------- */
  screen and (max-device-width : 480px)
  {
    .content-center-page {
      min-height: calc(100vh - 56px);
    }
  }
}

// custom_markdown
.main__body {
  .markdown-container {
    p {
      display: grid;
      img {
        max-width: 100%;
        margin-left: auto;
        margin-right:auto;
      }
    }
    pre {
      white-space: pre-wrap; //css3
      white-space: moz-pre-wrap; //firefox
      white-space: -pre-wrap; //opera 4-6
      white-space: -o-pre-wrap; //opera 7
      word-wrap: break-word; //internet explorer
    }
  }
}
