.main__frame {
  position: relative;

  .main__jumbotron {
    position: relative;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    .overlay {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-position-x: -140px;
      background-position-y: -100px;
      background-size: cover;
      background-repeat: no-repeat;
      // background-attachment: fixed;

      &.foreground {
        z-index: 2;
        background-image: url('../../assets/images/fore.png');
      }

      &.background {
        z-index: 1;
        background-image: url('../../assets/images/back.png');
      }
    }
    .overlay_dummy {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 60%;
      right: 0;
      background-color: #0a2f4e;
      z-index: 3;
    }
    .jumbo_container {
      position: relative;
      top: 28%;
      z-index: 4;
      text-align: center;
      h1 {
        padding-bottom: 20px;
        border-bottom: 1px solid #FFFFFF;
        border-bottom-color: rgba(255,255,255,0.35);
        display: inline-block;
      }
      .lead {
        font-size: 28px;
        text-align: center;
        color: #FFFFFF;
      }
    }
    .jumbo_arrow {
      height: 80px;
      width: 110px;
      display: block;
      position: absolute;
      bottom: 0px;
      right: 5%;
      background-color: #222222;
      text-align: center;
      z-index: 4;
      &_icon {
        color: #FFFFFF;
        font-size: 40px;
        padding-right: 2px;
        padding-top: 20px;
        animation-name: wiggle;
        animation-duration: 1.2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
    }
  }

  .main__nav--big {
    position: absolute;
    top: 100vh;
    right: 5%;

    &.--fixed {
      position: fixed;
      top: 60px;
    }

    .nav_button {
      height: 80px;
      width: 110px;
      text-align: center;
      padding-top: 30px;
      background-color: #222;
      color: #eee;
      font-size: 15px;

      &:hover {
        color: white;
        font-weight: 700;
      }

      &.--focused {
        color: white;
        background-color: #22A39F;
        font-weight: 700;
      }
    }
  }

  .small-nav-snap-fix {
    display: none;
  }

  .main__nav--small {
    display: none;
    background-color: #222222;
    width: 100%;
    z-index: 10;

    &.--fixed {
      position: fixed;
      top: 0;
    }
    .rmwc-collapsible-list__handle {
      height: 50px;
      position: relative;
      .rmwc-icon {
        position: absolute;
        right: 20px;
        font-size: 40px;
        color: white;
        padding-top: 5px;
      }
    }
    .rmwc-collapsible-list__children {
      background-color: #222;
      color: white;

      .nav_button {
        span {
          width: 100%;
          display: block;
          text-align: center;
        }
        &.--focused {
          font-weight: 800;
        }
      }
    }
  }
}

.top-nav-logo {
  // width: 100px;
  padding-top: 10px;
  img {
    width: auto;
    height: auto;
  }
}

/* css for both resized desktops and mobiles */
@media only
/* Desktops and laptops ----------- */
screen and (max-width : 600px),
/* Smartphones (portrait and landscape) ----------- */
screen and (max-device-width : 480px)
{
  .main__frame {
    .main__body {
      margin-top: 54px;
    }

    .main__jumbotron {
      .jumbo_arrow {
        width: 100%;
        right: 0;
      }
      .overlay {
        background-position-x: -170px;

        &.foreground {
        }

        &.background {
          background-repeat: repeat;
        }
      }
      .overlay_dummy {
        top: 0;
        bottom: 0;
        left: 0;
        right: 70%;
        background-color: #2a2a2a;
      }
      .jumbo_container {
        top: 50%;
      }
    }

    .main__nav--big {
      display: none;
    }
    .main__nav--small {
      display: block;
    }
    .small-nav-snap-fix {
      display: block;
    }
  }
}

/* fix for mobile landscape orientation */
@media only
screen and (max-device-height : 600px)
and (orientation: landscape) {
  .main__frame {
    .main__nav--big {
      .nav_button {
        height: 50px;
        padding-top: 10px;
      }
    }
  }
}

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}
