.main__frame {
  position: relative;

  .main__jumbotron {
    background: no-repeat center right fixed url(http://www.pascalvangemert.nl/view/images/background.jpg);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.pascalvangemert.nl/view/images/background.jpg', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.pascalvangemert.nl/view/images/background.jpg', sizingMethod='scale');
    margin-bottom: 0px;
    padding: 0px;
    position: relative;
    height: 100vh;
    .overlay {
      background-color: #22A39F;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      opacity: 0.75;
      filter: alpha(opacity=75);
      z-index: 2;
    }
    .jumbo_container {
      position: relative;
      top: 28%;
      z-index: 4;
      text-align: center;
      h1 {
        padding-bottom: 20px;
        border-bottom: 1px solid #FFFFFF;
        border-bottom-color: rgba(255,255,255,0.35);
        display: inline-block;
      }
      .lead {
        font-size: 28px;
        text-align: center;
        color: #FFFFFF;
      }
    }
    .jumbo_arrow {
      height: 80px;
      width: 100px;
      display: block;
      position: absolute;
      bottom: 0px;
      right: 4%;
      background-color: #222222;
      text-align: center;
      z-index: 6;
      &_icon {
        color: #FFFFFF;
        font-size: 30px;
        padding-right: 2px;
        padding-top: 20px;
        animation-name: wiggle;
        animation-duration: 1.2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
    }
  }

  .main__nav--big {
    position: absolute;
    top: 100vh;
    right: 60px;

    &.--fixed {
      position: fixed;
      top: 60px;
    }

    .nav_button {
      height: 80px;
      width: 100px;

      &.--focused {
        background-color: grey;
        color: white;
      }
    }
  }

  .main__nav--small {
    display: none;
    background-color: #222222;
    width: 100%;

    &.--fixed {
      position: fixed;
      top: 0;
    }
    .rmwc-collapsible-list__handle {
      height: 50px;
      position: relative;
      .rmwc-icon {
        position: absolute;
        right: 20px;
        font-size: 40px;
        color: white;
        padding-top: 5px;
      }
    }
    .rmwc-collapsible-list__children {
      background-color: #222;
      color: white;

      .nav_button {
        span {
          width: 100%;
          display: block;
          text-align: center;
        }
        &.--focused {
          font-weight: 800;
        }
      }
    }
  }
}

.top-nav-logo {
  // width: 100px;
  padding-top: 10px;
  img {
    width: auto;
    height: auto;
  }
}

/* css for both resized desktops and mobiles */
@media only
/* Desktops and laptops ----------- */
screen and (max-width : 600px),
/* Smartphones (portrait and landscape) ----------- */
screen and (max-device-width : 480px)
{
  .main__frame {
    .main__body {
      margin-top: 54px;
    }

    .main__nav--big {
      display: none;
    }
    .main__nav--small {
      display: block;
    }
  }
}
